$primary-color: #85ef47; // primary color for all components
$primary-color-hover: #6deb24; // primary hover color for all components

$heading-color: #222222; // heading text color
$text-color: #545151; // major text color
$text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
$disabled-color: rgba(0, 0, 0, 0.25); // disable state color
$border-color: #d9d9d9; // major border color
